<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentCar.mappers.CustomerMapper">
    <resultMap type="rentCar.entity.CustomerInfo" id="customerMap">
            <id property="id" column="id" />
            <result property="customerNo" column="customer_no" />
            <result property="customerPassword" column="customer_password" />
            <result property="customerName" column="customer_name" />
            <result property="customerSex" column="customer_sex" />
            <result property="customerAge" column="customer_age" />
            <result property="customerId" column="customer_id" />
            <result property="customerTel" column="customer_tel" />
            <result property="customerWorkplace" column="customer_workplace" />
            <result property="customerPost" column="customer_post" />
            <result property="customerEmail" column="customer_email" />
            <result property="customerStatus" column="customer_status" />
            <result property="customerAddress" column="customer_address" />
            <result property="recordCreator" column="record_creator" />
            <result property="recordCreateTime" column="record_create_time" />

    </resultMap>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getUserByNo" parameterType="string" resultMap="customerMap">
        select * from customer_info where customer_no = #{customerNo}
    </select>
    <select id="queryIDByCustomerNo" parameterType="string" resultType="java.lang.String">
        select ID from customer_info where customer_no = #{customerNo}
    </select>
    <select id="queryIDByCustomerTel" parameterType="string" resultType="java.lang.String">
        select ID from customer_info where customer_tel = #{customerTel}
    </select>
    <select id="queryPassWordById" parameterType="java.lang.String" resultType="java.lang.String">
        select PASSWORD from customer_info where id= #{id}
    </select>
    <select id="queryCustomerNameById" parameterType="java.lang.String" resultType="java.lang.String">
        select customer_name from customer_info where id= #{id}
    </select>
    <select id="queryCustomerTelById" parameterType="java.lang.String" resultType="java.lang.String">
        select customer_tel from customer_info where id= #{id}
    </select>
    <select id="findAll" resultMap="customerMap">
        select * from customer_info;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)  from customer_info;
    </select>


    <insert id="insertCustomerMap" parameterType="java.util.HashMap">
    insert into customer_info  values (#{id },#{ customerNo },#{ customerPassword },#{ customerName },
    #{ customerSex },#{ customerAge },#{ customerId },#{ customerTel },#{ customerWorkplace },#{ customerPost },
    #{ customerEmail },#{ customerStatus },#{ customerAddress },#{ recordCreator },#{ recordCreateTime })
</insert>
    <insert id="insertCustomer" parameterType="rentCar.entity.CustomerInfo">
        insert into customer_info  values (#{id },#{ customerNo },#{ customerPassword },#{ customerName },
        #{ customerSex },#{ customerAge },#{ customerId },#{ customerTel },#{ customerWorkplace },#{ customerPost },
        #{ customerEmail },#{ customerStatus },#{ customerAddress },#{ recordCreator },#{ recordCreateTime })
    </insert>

    <delete id="deleteUser" parameterType="java.lang.String" >
        update  customer_info  set customer_status = 1  where id = #{id}
    </delete>


    <update id="updatePassword" parameterType="java.lang.String" >
        update  customer_info set customer_password  = #{customerPassword} where id= #{id}
    </update>
    <update id="updateCustomerInfo"  parameterType="java.util.HashMap" >
        update  customer_info set customer_password  = #{customerPassword} where id= #{id}
    </update>


</mapper>