<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentCar.mappers.CustomerMapper">
    <resultMap type="rentCar.entity.CustomerInfo" id="customerMap">
        <id property="" column="ID" />
        <result property="username" column="USERNAME" />
        <result property="password" column="PASSWORD" />
    </resultMap>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getUserByNo" parameterType="string" resultType="rentCar.entity.CustomerInfo">
        select * from customer_info where customer_no = #{customerNo}
    </select>
    <select id="queryIDByCustomerNo" parameterType="string" resultType="java.lang.String">
        select ID from customer_info where customer_no = #{customerNo}
    </select>
    <select id="queryIDByCustomerTel" parameterType="string" resultType="java.lang.String">
        select ID from customer_info where customer_tel = #{customerTel}
    </select>
    <select id="queryPassWordById" parameterType="java.lang.String" resultType="java.lang.String">
        select PASSWORD from customer_info where id= #{id}
    </select>

    <select id="findAll" resultType="rentCar.entity.CustomerInfo">
        select * from customer_info;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)  from customer_info;
    </select>


    <insert id="insertCustomerMap" parameterType="java.util.HashMap">
    insert into customer_info  values (#{id },#{ customerNo },#{ customerPassword },#{ customerName },
    #{ customerSex },#{ customerAge },#{ customerId },#{ customerTel },#{ customerWorkplace },#{ customerPost },
    #{ customerEmail },#{ customerStatus },#{ customerAddress },#{ recordCreator },#{ recordCreateTime })
</insert>
    <insert id="insertCustomer" parameterType="rentCar.entity.CustomerInfo">
        insert into customer_info  values (#{id },#{ customerNo },#{ customerPassword },#{ customerName },
        #{ customerSex },#{ customerAge },#{ customerId },#{ customerTel },#{ customerWorkplace },#{ customerPost },
        #{ customerEmail },#{ customerStatus },#{ customerAddress },#{ recordCreator },#{ recordCreateTime })
    </insert>

    <delete id="deleteUser" parameterType="java.lang.String" >
        update  customer_info  set customer_status = 1  where id = #{id}
    </delete>


    <update id="updatePassword" parameterType="java.lang.String" >
        update  customer_info set customer_password  = #{customerPassword} where id= #{id}
    </update>
    <update id="updateCustomerInfo"  parameterType="java.util.HashMap" >
        update  customer_info set customer_password  = #{customerPassword} where id= #{id}
    </update>


</mapper>