<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentCar.mappers.OrderMapper">
    <resultMap type="rentCar.entity.OrderInfo" id="orderMap">
        <id property="id" column="id" />
        <result property="orderNo" column="order_no" />
        <result property="carId" column="car_id" />
        <result property="licenseId" column="license_id" />
        <result property="customerId" column="customer_id" />
        <!--少一个customerNo-->
        <result property="orderStartDate" column="order_start_date" />
        <result property="returnDateInPlan" column="return_date_in_plan" />
        <result property="returnDateInActual" column="return_date_in_actual" />
        <result property="orderStartMiles" column="order_start_miles" />
        <result property="orderEndMiles" column="order_end_miles" />
        <result property="basicConsume" column="basic_consume" />
        <result property="timeoutConsume" column="timeout_consume" />
        <result property="kmoutConsume" column="kmout_consume" />


        <result property="discountAmount" column="discount_amount" />
        <result property="rentDeposit" column="rent_deposit" />
        <result property="violateDeposit" column="violate_deposit" />
        <result property="damageDeposit" column="damage_deposit" />
        <result property="violateDeductions" column="violate_deductions" />
        <result property="damageDeductions" column="damage_deductions" />
        <result property="totalConsume" column="total_consume" />
        <result property="totalConsume" column="total_consume" />
        <result property="orderStatus" column="order_status" />
        <result property="recordCreateTime" column="record_create_time" />

    </resultMap>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getOrderByOrderNo" parameterType="string" resultMap="orderMap">
        select * from order_info where order_no = #{orderNo}
    </select>
    <select id="queryIDByOrderNo" parameterType="string" resultType="java.lang.String">
        select ID from order_info where order_no = #{orderNo}
    </select>

    <select id="queryCarIdById" parameterType="string" resultType="java.lang.String">
        select car_id from order_info where id = #{id}
    </select>
    <select id="findAll" resultMap="orderMap">
        select * from order_info;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)  from order_info;
    </select>

    <select id="bookCount" resultType="java.lang.Integer">
        select count(*)  from order_info where order_status =1;
    </select>
    <select id="rentingCount" resultType="java.lang.Integer">
        select count(*)  from order_info where order_status =2;
    </select>
    <select id="backCount" resultType="java.lang.Integer">
        select count(*)  from order_info where order_status =3;
    </select>
    <select id="violateCount" resultType="java.lang.Integer">
        select count(*)  from order_info where order_status =4;
    </select>

    <select id="bookOrderInfo" resultType="rentCar.entity.OrderInfo">
        select *  from order_info where order_status =1;
    </select>
    <select id="rentingOrderInfo" resultType="rentCar.entity.OrderInfo">
        select *  from order_info where order_status =2;
    </select>
    <select id="backOrderInfo" resultType="rentCar.entity.OrderInfo">
        select * from order_info where order_status =3;
    </select>
    <select id="violateOrderInfo" resultType="rentCar.entity.OrderInfo">
        select * from order_info where order_status =4;
    </select>

    <select id="queryOrderInfo"  parameterType="java.lang.String" resultMap="orderMap">
        select * from order_info where order_status =#{orderType};
    </select>

    <!-- 查询可用车，暂时不做,错误代码-->
    <select id="queryCarByTime" resultType="rentCar.entity.ViolateInfo">
        select * from order_info where car_id=#{carId} and
        violate_date BETWEEN #{orderStartDate} and #{returnDateInPlan};
    </select>


    <insert id="insertOrderMap" parameterType="java.util.HashMap">
        insert into order_info  values
        (#{id},#{orderNo},#{carId},#{licenseId},#{customerId},#{customerNo},#{orderStartDate},
        #{returnDateInPlan},#{returnDateInActual},#{orderStartMiles},
        #{orderEndMiles},#{basicConsume},#{timeoutConsume},#{kmoutConsume},
        #{discountAmount},#{rentDeposit},#{violateDeposit},#{damageDeposit},
        #{violateDeductions},#{damageDeductions},#{totalDonsume},
        #{orderStatus},#{recordCreator},#{recordCreateTime})
    </insert>


    <insert id="insertRentOrderMap" parameterType="java.util.HashMap">
        insert into order_info  values
        (#{id},#{orderNo},#{carId},#{licenseId},#{customerId},#{customerNo},#{orderStartDate},
        #{returnDateInPlan},#{returnDateInActual},#{orderStartMiles},
        #{orderEndMiles},#{basicConsume},#{timeoutConsume},#{kmoutConsume},
        #{discountAmount},#{rentDeposit},#{violateDeposit},#{damageDeposit},
        #{violateDeductions},#{damageDeductions},#{totalDonsume},
        #{orderStatus},#{recordCreator},#{recordCreateTime})
    </insert>

    <insert id="insertOrder" parameterType="rentCar.entity.OrderInfo">
        insert into order_info  values
(#{id},#{orderNo},#{carId},#{licenseId},#{customerId},#{orderStartDate},#{returnDateInPlan},
#{returnDateInActual},#{orderStartMiles},#{orderEndMiles},#{basicConsume},#{timeoutConsume},
#{kmoutConsume},#{discountAmount},#{rentDeposit},#{illegalDeposit},#{damageDeposit},
  #{illegalDeductions},#{damageDeductions},#{totalDonsume}, #{orderStatus},#{recordCreator},#{recordCreateTime})
    </insert>

    <delete id="deleteOrder" parameterType="java.lang.String" >
        update  order_info  set order_status = 1  where id = #{id}
    </delete>

    <!-- update需要进一步更改-->
    <update id="updateOrderInfo"  parameterType="java.util.HashMap" >
        update  order_info set order_no  = #{orderNo} where id= #{id}
    </update>

    <update id="updateRentCarOrder"  parameterType="java.util.HashMap" >
        update  order_info set order_start_miles=#{orderStartMiles}
        and car_id = #{carId} and license_id = #{licenseId}  and rent_deposit = #{rentDeposit}
         and damage_deposit = #{damageDeposit}  and violate_deposit = #{violateDeposit}
         and  order_status =  #{orderStatus}
        where id= #{id}
    </update>


    <update id="updateFinishOrder"  parameterType="java.lang.String" >
        update  order_info set order_status = #{orderStatus}
        where id= #{id}
    </update>

    <update id="updateReturnDateInActual"  parameterType="java.util.HashMap" >
        update  order_info set return_date_in_actual = #{returnDateInActual}
        where id= #{id}
    </update>
    <update id="updateBackCarOrder"  parameterType="java.util.HashMap" >
        update  order_info set return_date_in_actual  = #{returnDateInActual}
        , order_start_miles=#{orderStartMiles}
        , order_end_miles = #{orderEndMiles}, basic_consume = #{basicConsume}
        , timeout_consume = #{timeoutConsume} , damage_deductions = #{damageDeductions}
        , kmout_consume = #{kmoutConsume}  , discount_amount = #{discountAmount}
        ,  order_status =  #{orderStatus}
        where id= #{id}
    </update>


</mapper>