<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentCar.mappers.RentPriceMapper">
    <resultMap type="rentCar.entity.RentPriceInfo" id="rentPriceMap">
        <id property="id" column="id" />
        <result property="modelInfoId" column="model_info_id" />
        <result property="deposit" column="deposit" />
        <result property="pricePerDay" column="price_per_day" />
        <result property="pricePerKm" column="price_per_km" />
        <result property="priceOverAnhour" column="price_over_anhour" />
        <result property="priceOverKm" column="price_over_km" />
        <result property="rentStatus" column="rent_status" />
        <result property="recordCreator" column="record_creator" />
        <result property="recordCreateTime" column="record_create_time" />

    </resultMap>

    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getRentPriceMapByModelInfoId" parameterType="string" resultMap="rentPriceMap">
        select * from rent_price_info where model_info_id = #{modelInfoId}
    </select>
    <select id="queryIDByModelInfoId" parameterType="string" resultType="java.lang.String">
        select ID from rent_price_info where model_info_id = #{modelInfoId}
    </select>

    <select id="findAll" resultMap="rentPriceMap">
        select * from store_info;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)  from store_info;
    </select>


    <insert id="insertRentPriceMap" parameterType="java.util.HashMap">
        insert into rent_price_info  values
     (#{id},#{modelInfoId},#{deposit},#{pricePerDay},#{pricePerKm},#{priceOverAnhour},
     #{priceOverKm},#{rentStatus},#{recordCreator},#{recordCreateTime})
    </insert>
    <insert id="insertRentPrice" parameterType="rentCar.entity.StoreInfo">
        insert into rent_price_info  values
       (#{id},#{modelInfoId},#{deposit},#{pricePerDay},#{pricePerKm},#{priceOverAnhour},
       #{priceOverKm},#{rentStatus},#{recordCreator},#{recordCreateTime})
    </insert>

    <delete id="deleteRentPrice" parameterType="java.lang.String" >
        update rent_price_info  set store_status = 1  where id = #{id}
    </delete>

    <!-- update需要进一步更改-->
    <update id="updateRentPriceInfo"  parameterType="java.util.HashMap" >
        update  rent_price_info set store_no  = #{storeNo} where id= #{id}
    </update>


</mapper>