<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rentCar.mappers.StuffMapper">
    <resultMap type="rentCar.entity.StuffInfo" id="stuffMap">
        <id property="" column="ID" />
        <result property="username" column="USERNAME" />
        <result property="password" column="PASSWORD" />
    </resultMap>
    <!-- 此处select标签的id值对应Mapper类中方法名 -->
    <select id="getUserByNo" parameterType="string" resultType="rentCar.entity.StuffInfo">
        select * from stuff_info where stuff_no = #{stuffNo}
    </select>
    <select id="queryIDByStuffNo" parameterType="string" resultType="java.lang.String">
        select id from stuff_info where stuff_no = #{stuffNo}
    </select>
    <select id="queryIDByStuffTel" parameterType="string" resultType="java.lang.String">
        select id from stuff_info where stuff_tel = #{stuffTel}
    </select>
    <select id="queryPassWordById" parameterType="java.lang.String" resultType="java.lang.String">
        select stuff_password  from stuff_info where id= #{ id }
    </select>

    <select id="findAll" resultType="rentCar.entity.StuffInfo">
        select * from stuff_info;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)  from stuff_info;
    </select>


    <insert id="insertStuffMap" parameterType="java.util.HashMap">
    insert into stuff_info  values (#{id },#{ stuffNo },#{ stuffPassword },#{ stuffName },
    #{ stuffSex },#{ stuffAge },#{stuffId},#{ stuffTel },#{ stuffWorkplace },#{ stuffPost },
    #{ stuffEmail },#{ stuffStatus },#{ stuffAddress },#{ recordCreator },#{ recordCreateTime })
</insert>
    <insert id="insertStuff" parameterType="rentCar.entity.StuffInfo">
        insert into stuff_info  values (#{id },#{ stuffNo },#{ stuffPassword },#{ stuffName },
        #{ stuffSex },#{ stuffAge },#{ stuffId },#{ stuffTel },#{ stuffWorkplace },#{ stuffPost },
        #{ stuffEmail },#{ stuffStatus },#{ stuffAddress },#{ recordCreator },#{ recordCreateTime })
    </insert>

    <delete id="deleteUser" parameterType="java.lang.String" >
        update  stuff_info  set stuff_status = 1  where id = #{id}
    </delete>


    <update id="updatePassword" parameterType="java.lang.String" >
        update  stuff_info set stuff_password  = #{stuffPassword} where id= #{id}
    </update>
    <update id="updateStuffInfo"  parameterType="java.util.HashMap" >
        update  stuff_info set stuff_password  = #{stuffPassword} where id= #{id}
    </update>


</mapper>